*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Headings */
  --primary-headings: 4rem;

  --logo-font: 3rem;
  --body-font: 1.8rem;
  --body-font-md: 2rem;

  /* Color */
  --bg-primary: #212529;
  --accent-color: #fb9120;
  --white-color: #ffefff;
  --brand-color: #66d9e8;

  /* Padding */
  --p-sm: 1.6rem;
}

/* UTILITY */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 2.4rem;
}

.alert {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2rem 4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.alert-error {
  color: #fff;
  background-color: #f23636;
}

.alert-success {
  color: #333;
  background-color: #55f455;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-primary);
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: var(--p-sm) 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-primary);

  color: var(--white-color);
}

.logo-text {
  font-size: var(--logo-font);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--brand-color);
  text-decoration: none;
}

.main-nav {
  list-style: none;
  display: flex;
  font-size: var(--body-font);
  font-weight: 500;

  gap: var(--p-sm);
}

.nav-link:link,
.nav-link:visited {
  color: var(--white-color);
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:link.active,
.nav-link:visited.active {
  color: var(--accent-color);
}

.show-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--white-color);
}

/* SECTION */
main {
  padding-top: 5rem;
}
.now-playing {
  background-image: linear-gradient(
      255.55deg,
      #58b7c661 18.55%,
      #58b7c661 25.55%,
      #58b7c661 45%
    ),
    url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.swiper-slide {
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--bg-primary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 1rem;
  color: var(--white-color);
}

.swiper-rating i {
  color: var(--accent-color);
  margin-right: 1.2rem;
}

.heading-text {
  text-align: center;
  font-size: var(--logo-font);
  text-transform: uppercase;
  color: var(--white-color);
  padding: 2rem;
}

.search-form {
  max-width: 60rem;
  margin: 0 auto;
}

.search-form label {
  font-size: var(--p-sm);
  align-items: center;
  margin-right: 1rem;
  color: var(--white-color);
  font-weight: 600;
}

.search-form label:last-child {
  margin-right: 0;
}

.radio {
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  margin-right: 0.5rem;
  align-items: center;
  background-color: white;
  cursor: pointer;

  transition: all 0.4s;
}

input[type="radio"]:checked {
  background-color: #ff5733;
  border: 1.5px solid #ff5733;
  box-shadow: inset 0 0 0 1.5px rgba(255, 255, 255);
}

.search-input {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input input {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1.2rem;
  width: 82%;
  font-size: var(--p-sm);
  color: var(--white-color);
}

.search-input input::placeholder {
  color: var(--white-color);
}

.search-btn {
  background-color: var(--accent-color);
  display: inline-block;
  border: none;
  outline: none;
  border: 1px solid var(--accent-color);
  padding: 1.4rem;
  border-radius: 5px;
  width: 18%;
  margin-left: 5px;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.search-btn:hover {
  background-color: transparent;
  color: var(--white-color);
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.4rem;
}

.card {
  padding: 1rem 0.5rem 2rem 0.5rem;
  background-color: var(--brand-color);
  transition: all 0.4s ease-in-out;
  backface-visibility: hidden;
}

.card:hover {
  transform: scale(1.01);
}

.card-img {
  margin-bottom: 1rem;
  overflow: hidden;

  transition: all 0.4s ease-in-out;
}

.card a:link,
.card a:visited {
  text-decoration: none;
  color: #333;
}

.card-img img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.card-img img:hover {
  transform: scale(1.1);
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.date {
  font-size: 1.4rem;
}

.text-muted {
  font-weight: 700;
}

.text-bold {
  font-weight: 500;
  font-size: 1.2rem;
}

.footer {
  border-top: 1px solid var(--brand-color);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  font-size: 2.4rem;

  display: flex;
  gap: 2.4rem;
}

.social-links a:link,
.social-links a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
  backface-visibility: hidden;

  transition: all 0.4s ease-in-out;
}

.social-links a:hover,
.social-links a:active {
  color: var(--accent-color);
  transform: scale(1.05);
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  padding-bottom: 1rem;
}

/* Details */
.btn-pagination {
  padding: 0.8rem 2rem;
  display: inline-block;
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.8rem;
  margin-bottom: 1.2rem;

  transition: all 0.4s ease-in-out;
}

.btn-pagination:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border-color: #fb91209c;
  color: #ccc;
}

.btn-pagination:disabled:hover {
  background-color: transparent;
}

.btn-pagination:hover {
  background-color: var(--accent-color);
}

.pagination {
  margin-top: 2rem;
}

.page-counter {
  font-size: 1.4rem;
  color: var(--white-color);
}

.details-btn:link,
.details-btn:visited {
  display: inline-block;
  border: 2px solid var(--accent-color);
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
  border-radius: 5px;
  z-index: 1000;

  transition: all 0.4s ease-in-out;
}

.details-btn:hover,
.details-btn:active {
  background-color: var(--accent-color);
  transform: scale(1.08);
}

.details-btn:active {
  transform: scale(1.02);
}

.movie-details {
  margin: 3rem 0;

  display: grid;
  z-index: 100;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.details-img {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3rem;
}

.details-img img {
  width: 70%;
  display: inline-block;
  box-shadow: 0 1.2rem 2.4rem rgba(255, 255, 255, 0.1);
}

.details-text {
  align-self: center;

  color: var(--white-color);
}

.details-title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
  color: var(--white-color);
}

.details-rating {
  font-size: var(--p-sm);

  margin-bottom: 1.4rem;
}

.details-rating i {
  color: var(--accent-color);
}

.release-date {
  font-size: var(--p-sm);
  margin-bottom: 1.4rem;
}

.movie-detail-description {
  font-size: var(--p-sm);
  line-height: 2.4rem;

  margin-bottom: 2rem;
}

.genres-list {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.list-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.genres-list li {
  margin-bottom: 0.8rem;
}

.more-info {
  font-size: var(--p-sm);
  color: var(--white-color);
}

.b-bottom {
  padding: 1.4rem 0 1.4rem 0;
  border-bottom: 1px solid #ffffff94;
}

.p-top {
  padding-top: 1.4rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: var(--white-color);
}

.tag {
  color: var(--accent-color);
  font-weight: 700;
}

.footer .logo a {
  color: var(--white-color);
}
